.hero-cont{
    width: var(--mainwidth);
    margin: auto;
    display: flex;
    margin-top: 2rem;
}
.left-side{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 5rem;
}
.hero-discount{
    width: fit-content;
    background: var(--divgradient);
    text-transform: uppercase;
    padding:.5rem 1rem;
    border-radius: 10px;
}

.hero-title-cont{
    display: flex;
    flex-direction: column;
}

.right-side{
    width: 40%;
    
}
.h-r-s-image{
    width: 40rem;
    position: absolute;
    top: 32rem;
    right: -20rem;
}
/* cards */
.h-r-s-card1{
    position: absolute;
    width: 24.5rem;
    z-index: 15;
    opacity: .8;
    right: 12rem;
    top: 9.4rem
}
.h-r-s-card2{
    position: absolute;
    width: 27.5rem;
    z-index: 10;
    right: 10.4rem;
    top: 12rem;
    opacity: .8;
}
.h-r-s-card3{
    position: absolute;
    width: 19.8rem;
    right: 14.2rem;
    top: 19.5rem;
    opacity: .8;
    z-index: 5;
}
.ball{
    background: var(--ballgradient);
    z-index: 10;
    border-radius: 50%;
    position: absolute;
}
.ball-one{
    width: 85px;
    height: 85px;
    right: 33.5rem;
}
.ball-two{
    width: 55px;
    height: 55px;
    right: 14rem;
    top: 27rem;
}
.ball-three{
    width: 26px;
    height: 26px;
    right:32rem;
    top: 30.8rem;
}
.counter{
    width: var(--secondarywidth);
    margin: auto;
    font-size: 1.3rem;
    font-weight: 800;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
}
.number{
    font-size: 1.8rem;
}
